# -*- mode: ruby -*-
# vi: set ft=ruby :

#for Vagrant >1.2.x
Vagrant.configure("2") do |config|
    config.vm.provision :shell, :inline => "echo Welcome to Tocos VM"

    config.vm.define :dev do |_config|
        _config.vm.box = "symfony2"

        _config.vm.hostname = "dev.accounts.mclowd.com"

        #use :nfs => true only if on mac/linux; use :nfs => false on win
        _config.vm.synced_folder ".", "/var/www", :nfs => true

        _config.vm.provider :virtualbox do |vb, override|
            vb.customize ["modifyvm", :id, "--memory", 4096]
            vb.customize ["modifyvm", :id, "--cpus", "2"]
            override.vm.box_url = "http://www.trisoft.ro/symfony2.box"
            override.vm.network :private_network, ip: "192.168.33.204"
        end

        #provision
        _config.vm.provision :puppet do |puppet|
            puppet.manifests_path = "_puppet/manifests"
            puppet.module_path = "_puppet/modules"
            puppet.manifest_file  = "provision.pp"
        end
    end

end
